/* Float Fix */
#content:after, #header:after, #pagination ul:after, #nav ul:after, .entry-content:after, #footer:after, .entry-content p:after 
{content:".";clear:both;display:block;overflow:hidden;visibility:hidden;height:0}

/* HTML5 elements */
article, aside, dialog, figure, figcaption, footer, header, hgroup, nav, section, small {display: block}


html, body {
	height: 100%;
	padding: 0em;
	margin: 0em;
}

/* Basic */
body 
	{
		color: #333; 
		font: 1em/1.5em 'Open Sans', 'Source Sans Pro', Georgia, Palatino, Ubuntu, serif; 
		margin: 0 auto; 
		background: #fff;
	}

#header, #nav, h1, h2
	{	
		font-weight: normal;
		font-family: 'Crimson Text', 'Open Sans', Georgia, serif; 
	}

p
	{
		margin: 1.2em 0;
	}

/* a {color: #39c #2b6cc2 <-- original} */
a 	
	{
		color: #0b60c2; 
		text-decoration: underline
	}

a:hover 
	{
		text-decoration: underline; 
	}


img 
	{
		padding: 0em 0 0;
		border: 1px solid #ccc;
	}


blockquote 
	{
		border-left: 2px solid #ccc; 
		margin: 1.5em 1em 1.5em; 
		padding: 0 1em; 
		size: 1em
	}

code 
	{
		border: 1px #ccc solid;
		padding: 0.2em 0.3em;
		border-radius: 0.3em;
		overflow: auto;
	}

blockquote code 
	{
		border-left: 1px solid green;
		border-radius: 0.3em;
		margin: 1.5em 0em 1.5em -1.5em;
		padding: 1em;
		size: 2em;
		min-height: 3em;
	}

pre 
	{
		border: 1px solid #A9B3BC;
		padding: 1em 1.5em;
		background: #F3F7FA;
		overflow: auto;
		border-radius: 0.3em;

	}


pre code 
	{
		padding: 0em;
		border: none;
	}



/* Structure */
#header, #footer, #nav
	{
		width: 100%; 
		margin: 0 auto;
	}

#content, #footer-info
	{
		max-width: 720px;
		margin: 0 auto;
	}

#content 
	{
		min-height: 24em;
	}

/* keeps footer at bottom */
.wrapper 
	{
		margin: 0 auto -3em;
	    min-height: 100%;
	    height: auto !important;
	    height: 100%;

 	}



/* Header */

#header 
	{
		text-align: center;
	}

#banner 
	{	
		padding: 0.8em 0em 1em;
		border-bottom: 1px solid #ddd;
	}

#header a 
	{
		text-decoration: none;
		text-transform: lowercase;
	}

#header h1 
	{ 		
		font-size: 1.8em; 
		letter-spacing: .25em; 
		padding-top: 3px 0em 0em;
		color: black;
		font: Georgia,Serif;
	}

#header h1 a
	{
		text-decoration: none;
		color: black;
		text-transform: uppercase;
	}

#header h1 a:hover
	{
		border-bottom: 1px solid black;
	}
	
#nav 
	{	
		padding: 1em 0;  
		font-style: italic;
		line-height: 1em;
		color: #aaa;
	}

#nav ul 
	{
		padding: 0em;
		margin: 0em auto;
		list-style-type: none; 
	}

#nav li 
	{  
		padding: 0 .2em;
		display: inline; 
	}

#nav li a 
	{
		color: #aaa;
	}

#nav li a:hover 
	{
		color: #000;
		text-decoration: underline; 
	}


/* Footer */
#footer 
	{
	    min-height: 3em; /* .push must be the same height as .footer */
    	background: #000;
		clear: both;
		color: #ccc;
		font-size: .8em;
	}

#footer a, #footer p  
	{
		color: #ccc;
		text-decoration: none
	}

#footer-info 
	{
		text-align: center;
		padding: 1.5em 1em; 
	}

#footer-info ul 
	{
		padding: 0em;
		margin: 0em;
		list-style-type: none
	}

#footer-info li 
	{
		display: inline;
		padding-right: .5em
	}

#footer-info .copyright 
	{
		border-left: 1px solid #666;
		padding-left: 1em;
	}


/* Content */
#content 
	{
		padding-top: 3em;
	}

#content p 
	{
		font-size: 1em; 
		line-height: 1.8em;
	}

#content h1, #content h2
	{ 
		font-size: 1.6em;
		line-height: 1.1em;
		margin: 0;
	}

#content h1 a, #content h2 a 
	{ 
		text-decoration: none;
	}




/* Post */
article 
	{
		padding: 1em 1em;
	}

.entry-content 
	{
	padding: 0em 0em 0em;
	}

.entry-content h1, .entry-content h2
.entry-content h3, .entry-content h4
.entry-content h5, .entry-content h6
	{
		font-weight: normal;
	}


.entry-content h1, .entry-content h2
	{
		padding: 1.5em 0 1em;
	}

.entry-content h3
	{
		padding: 1.5em 0 0em;
		font-size: 1.05em; 
		text-transform: uppercase;
		letter-spacing: .05em;
	}


#content ul.entry-share-buttons 
	{
		list-style-type: none;
		padding: 1.5em 0em;
		margin: 0em;
	}

#content ul.entry-share-buttons li 
	{
		display: inline;
	}	


.entry-content h3, .entry-content h4 
	{
		color: #ccc; 
		font-weight: normal;
		text-transform: uppercase
	}

.entry-content h5 
	{
		font-size: 1em
	}

.entry-date
	{
		padding-bottom: 4em;
	}

.entry-date h6
	{
		clear: both;
		padding: 1.5em 0;
		font-size: .9em;
		color: #ababab;
		font-weight: normal;
	}

.entry-content p, .entry-summary p 
	{
		text-align: left; 
		zoom: 1
	}

.entry-content img 
	{
		height: auto; 
		width: 100%; 
	}

.entry-content img.aligncenter 
	{	
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto
	}

.twitter-class 
	{
		padding-top: 4px;
		padding-right: 0.5em;
	}

.twitter-class, .fb-share-button 
	{
		float: left;
		clear: none;
	}


h2.email-signup 
	{
		font-size: .9em;
		padding: 0 0 .75em;
	}

#mc_embed_signup
	{
		background:#fff; 
		clear:left; 
		border: 1px solid #ccc;
	}

#mc_embed_signup input.button 
	{

	    background: #111;
	    -moz-border-radius:0px;
	    -webkit-border-radius:0px;
	    border-radius:0px;
	    display:inline-block;
	    font-weight: normal;

	}

 @media only screen and (max-width: 720px) {
	#nav, #content, #footer-info, #banner
	{
		width: 100%;
	}
}


@media only screen and (max-width: 480px) {
       #banner  {
        	border-bottom: 1px #bcbcbc solid;
        }

        #nav li a {
        	color: #999;
        }
}

#content .highlight .hll { background-color: #ffffcc }
#content .highlight  { background: #f8f8f8; }
#content .highlight .c { color: #408080; font-style: italic } /* Comment */
#content .highlight .err { border: 1px solid #FF0000 } /* Error */
#content .highlight .k { color: #008000; font-weight: bold } /* Keyword */
#content .highlight .o { color: #666666 } /* Operator */
#content .highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
#content .highlight .cp { color: #BC7A00 } /* Comment.Preproc */
#content .highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
#content .highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
#content .highlight .gd { color: #A00000 } /* Generic.Deleted */
#content .highlight .ge { font-style: italic } /* Generic.Emph */
#content .highlight .gr { color: #FF0000 } /* Generic.Error */
#content .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
#content .highlight .gi { color: #00A000 } /* Generic.Inserted */
#content .highlight .go { color: #808080 } /* Generic.Output */
#content .highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
#content .highlight .gs { font-weight: bold } /* Generic.Strong */
#content .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
#content .highlight .gt { color: #0040D0 } /* Generic.Traceback */
#content .highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
#content .highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
#content .highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
#content .highlight .kp { color: #008000 } /* Keyword.Pseudo */
#content .highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
#content .highlight .kt { color: #B00040 } /* Keyword.Type */
#content .highlight .m { color: #666666 } /* Literal.Number */
#content .highlight .s { color: #BA2121 } /* Literal.String */
#content .highlight .na { color: #7D9029 } /* Name.Attribute */
#content .highlight .nb { color: #008000 } /* Name.Builtin */
#content .highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
#content .highlight .no { color: #880000 } /* Name.Constant */
#content .highlight .nd { color: #AA22FF } /* Name.Decorator */
#content .highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
#content .highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
#content .highlight .nf { color: #0000FF } /* Name.Function */
#content .highlight .nl { color: #A0A000 } /* Name.Label */
#content .highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
#content .highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
#content .highlight .nv { color: #19177C } /* Name.Variable */
#content .highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
#content .highlight .w { color: #bbbbbb } /* Text.Whitespace */
#content .highlight .mf { color: #666666 } /* Literal.Number.Float */
#content .highlight .mh { color: #666666 } /* Literal.Number.Hex */
#content .highlight .mi { color: #666666 } /* Literal.Number.Integer */
#content .highlight .mo { color: #666666 } /* Literal.Number.Oct */
#content .highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
#content .highlight .sc { color: #BA2121 } /* Literal.String.Char */
#content .highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
#content .highlight .s2 { color: #BA2121 } /* Literal.String.Double */
#content .highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
#content .highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
#content .highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
#content .highlight .sx { color: #008000 } /* Literal.String.Other */
#content .highlight .sr { color: #BB6688 } /* Literal.String.Regex */
#content .highlight .s1 { color: #BA2121 } /* Literal.String.Single */
#content .highlight .ss { color: #19177C } /* Literal.String.Symbol */
#content .highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
#content .highlight .vc { color: #19177C } /* Name.Variable.Class */
#content .highlight .vg { color: #19177C } /* Name.Variable.Global */
#content .highlight .vi { color: #19177C } /* Name.Variable.Instance */
#content .highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
